<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fitness.albert.com.pumpit">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".workout.ShowExerciseImgActivity"></activity>
        <activity
            android:name=".fragment.profile.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".workout.FinisherWorkoutActivity" />
        <activity android:name=".workout.ShowLogExerciseActivity" />
        <activity android:name=".fragment.logsFragment.LogTabActivity" />
        <activity android:name=".workout.CustomAddExerciseActivity" />
        <activity android:name=".workout.ChangePlanActivity" />
        <activity android:name=".workout.WorkoutStartActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".workout.StartWorkoutActivity" />
        <activity android:name=".workout.FindWorkoutActivity" />
        <activity android:name=".workout.EditCustomPlanActivity" />
        <activity android:name=".workout.ExerciseLogsActivity" />
        <activity android:name=".workout.TrainingActivity" />
        <activity android:name=".workout.WorkoutActivity" />
        <activity android:name=".workout.WorkoutPlansActivity" />
        <activity android:name=".workout.CustomPlanActivity" />
        <activity android:name=".workout.ShowExerciseResultActivity" />
        <activity android:name=".workout.ExerciseDetailActivity" />
        <activity
            android:name=".nutrition.ShowSnackActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".nutrition.ShowLunchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".nutrition.ShowDinnerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".nutrition.ShowBreakfastActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".nutrition.ShowAllNutritionActivity" />
        <activity android:name=".nutrition.ShowItemFoodActivity" />
        <activity
            android:name=".welcome.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragment.FragmentNavigationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".welcome.GoalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".welcome.GenderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".welcome.AgeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".welcome.WeightActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".welcome.HeightActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".welcome.BodyFatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".welcome.FatTargetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".register.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".register.EmailRegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".workout.AddExerciseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nutrition.SearchFoodsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nutrition.ShowFoodBeforeAddedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>